<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.stx.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.stx.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.stx.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TypeSelServlet</servlet-name>
    <servlet-class>com.stx.servlet.TypeSelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TypeUpServlet</servlet-name>
    <servlet-class>com.stx.servlet.TypeUpServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TypeAddServlet</servlet-name>
    <servlet-class>com.stx.servlet.TypeAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TypeDelServlet</servlet-name>
    <servlet-class>com.stx.servlet.TypeDelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TypeEditServlet</servlet-name>
    <servlet-class>com.stx.servlet.TypeEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CpSelByUserServlet</servlet-name>
    <servlet-class>com.stx.servlet.CpSelByUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CpTypeSelServlet</servlet-name>
    <servlet-class>com.stx.servlet.CpTypeSelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CpAddServlet</servlet-name>
    <servlet-class>com.stx.servlet.CpAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CpDelServlet</servlet-name>
    <servlet-class>com.stx.servlet.CpDelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CpEditServlet</servlet-name>
    <servlet-class>com.stx.servlet.CpEditServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TypeSelServlet</servlet-name>
    <url-pattern>/TypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TypeAddServlet</servlet-name>
    <url-pattern>/TypeAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TypeDelServlet</servlet-name>
    <url-pattern>/TypeDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TypeEditServlet</servlet-name>
    <url-pattern>/TypeEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TypeUpServlet</servlet-name>
    <url-pattern>/TypeUpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CpSelByUserServlet</servlet-name>
    <url-pattern>/CpSelByUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CpTypeSelServlet</servlet-name>
    <url-pattern>/CpTypeSelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CpAddServlet</servlet-name>
    <url-pattern>/CpAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CpDelServlet</servlet-name>
    <url-pattern>/CpDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CpEditServlet</servlet-name>
    <url-pattern>/CpEditServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.stx.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/page/cp_add.jsp</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/page/cp_my_list.jsp</url-pattern>
  </filter-mapping>
</web-app>